In [1]:
import sys
import pandas as pd
sys.path.append('../')
from src.EspnFantasyRoundAnalysis import EspnFantasyRoundAnalysis
from src.utils.io_json import read_json

# Input variables

In [2]:
week = 14  # Change this to round/week of the fantasy league that you want the analysis for.
scoring_period = 94  # change this to the day of the fantasy league since the start. This is roughly 7*`week`.
# Warning: If you get a matchup period, see message starting with "Processing matchup period:" below other than that specified in the `week` above, 
# reconsider the `scoring_period` variable again.

# Fetch Data

In [3]:
settings = read_json('../config/config.json')

In [4]:
cookies = settings['cookies']
league_settings = settings['league']
url_settings = {
    'url_fantasy': settings['url']['fantasy_league'],
    'url_nba': settings['url']['nba']
}

In [5]:
espn_api = EspnFantasyRoundAnalysis(round=week, scoring_period=scoring_period,
                                    cookies=cookies,
                                    **url_settings,
                                    **league_settings)

# Stats of the round per Fantasy Team

In [10]:
espn_api.get_adv_stats_of_round()

Processing matchup period: [14]

,FG%,FT%,3PM,REB,AST,STL,BLK,TO,PTS,Mins,Games
MAR,0.412607,0.828283,48.0,206.0,126.0,40.0,30.0,67.0,418.0,1035.0,36.0
PAT,0.470930,0.651163,23.0,89.0,43.0,11.0,16.0,23.0,213.0,474.0,19.0
PANP,0.414894,0.784615,22.0,88.0,50.0,18.0,13.0,28.0,229.0,515.0,23.0
TIMP,0.450161,0.820225,43.0,141.0,87.0,23.0,13.0,46.0,396.0,754.0,26.0
BAKA,0.461373,0.821705,62.0,241.0,120.0,35.0,21.0,78.0,598.0,1122.0,38.0
TLK,0.454762,0.863636,73.0,175.0,81.0,31.0,9.0,56.0,531.0,978.0,37.0
TRJn,0.464953,0.742857,43.0,250.0,133.0,37.0,27.0,70.0,545.0,1088.0,35.0
DGGG,0.487059,0.779817,64.0,195.0,128.0,35.0,18.0,54.0,563.0,1085.0,37.0
BEAs,0.385675,0.810345,50.0,159.0,105.0,19.0,19.0,54.0,424.0,822.0,27.0
PAPA,0.462366,0.777778,23.0,110.0,65.0,15.0,10.0,29.0,223.0,575.0,20.0
CHAL,0.459103,0.731707,58.0,177.0,105.0,43.0,19.0,52.0,466.0,998.0,32.0
GEOR,0.490956,0.872000,70.0,170.0,115.0,33.0,17.0,56.0,559.0,978.0,33.0
LAM,0.422164,0.750000,47.0,165.0,135.0,29.0,10.0,43.0,442.0,980.0,33.0
PUTS,0.476082,0.798165,55.0,183.0,131.0,23.0,24.0,57.0,560.0,1031.0,34.0
Rmr,0.453744,0.700680,41.0,227.0,117.0,32.0,40.0,72.0,556.0,1096.0,36.0
ILN,0.484716,0.803279,42.0,221.0,99.0,31.0,22.0,66.0,584.0,1123.0,38.0
ANTO,0.471963,0.809524,49.0,213.0,117.0,32.0,22.0,55.0,521.0,1107.0,35.0
KAPS,0.502994,0.744444,37.0,175.0,87.0,25.0,9.0,53.0,440.0,883.0,30.0

## Ranking index for each statistical category

In [8]:
espn_api.compute_stats_ranking_of_round()

      FG%  FT%  3PM  REB  AST  STL  BLK  TO  PTS  Mins  Games
MAR    17    3    9    6    5    2    2  15   14     7      5
PAT     7   18   17   17   18   18   12   1   18    18     18
PANP   16   10   18   18   17   16   14   2   16    17     16
TIMP   14    5   12   15   13   14   13   5   15    15     15
BAKA   10    4    4    2    6    4    7  18    1     2      2
TLK    12    2    1   10   15   10   17  11    8    11      3
TRJn    8   15   11    1    2    3    3  16    7     5      8
DGGG    3   11    3    7    4    5   10   9    3     6      4
BEAs   18    6    7   14   10   15    8   8   13    14     14
PAPA    9   12   16   16   16   17   15   3   17    16     17
CHAL   11   16    5    9   11    1    9   6   10     9     12
GEOR    2    1    2   12    9    6   11  12    5    12     11
LAM    15   13   10   13    1   11   16   4   11    10     10
PUTS    5    9    6    8    3   13    4  13    4     8      9
Rmr    13   17   14    3    8    7    1  17    6     4      6
ILN     4    8   13    4   12    9    6  14    2     1      1
ANTO    6    7    8    5    7    8    5  10    9     3      7
KAPS    1   14   15   11   14   12   18   7   12    13     13

# Head to Head scores for all possible match-ups in the specified round

In [9]:
espn_api.compute_h2h_score_table()

,MAR,PAT,PANP,TIMP,BAKA,TLK,TRJn,DGGG,BEAs,PAPA,CHAL,GEOR,LAM,PUTS,Rmr,ILN,ANTO,KAPS
MAR,0,5,5,5,1,-1,1,-1,3,5,-1,-1,1,-1,1,1,-1,3
PAT,-5,0,1,-3,-5,-3,-5,-7,-5,-2,-5,-7,-3,-7,-5,-7,-7,-5
PANP,-5,-1,0,-6,-7,-5,-5,-5,-5,1,-5,-7,-3,-7,-5,-7,-7,-3
TIMP,-5,3,6,0,-7,-3,-4,-5,-1,5,-5,-7,-3,-4,-3,-3,-5,0
BAKA,-1,5,7,7,0,3,-3,0,7,5,5,1,5,1,5,3,3,5
TLK,1,3,5,3,-3,0,-3,-5,3,3,-3,-4,3,-1,-1,-2,-3,1
TRJn,-1,5,5,4,3,3,0,-1,3,5,3,-1,1,-1,5,1,1,3
DGGG,1,7,5,5,0,5,1,0,4,7,3,3,5,3,5,1,3,5
BEAs,-3,5,5,1,-7,-3,-3,-4,0,5,-5,-5,-3,-5,-3,-1,-3,-1
PAPA,-5,2,-1,-5,-5,-3,-5,-7,-5,0,-3,-7,-2,-7,-3,-7,-7,-3
CHAL,1,5,5,5,-5,3,-3,-3,5,3,0,-1,3,-3,1,-1,-3,5
GEOR,1,7,7,7,-1,4,1,-3,5,7,1,0,5,1,3,3,1,3
LAM,-1,3,3,3,-5,-3,-1,-5,3,2,-3,-5,0,-3,-1,-3,-5,5
PUTS,1,7,7,4,-1,1,1,-3,5,7,3,-1,3,0,3,-1,1,3
Rmr,-1,5,5,3,-5,1,-5,-5,3,3,-1,-3,1,-3,0,-1,-1,3
ILN,-1,7,7,3,-3,2,-1,-1,1,7,1,-3,3,1,1,0,-2,5
ANTO,1,7,7,5,-3,3,-1,-3,3,7,3,-1,5,-1,1,2,0,5
KAPS,-3,5,3,0,-5,-1,-3,-5,1,3,-5,-3,-5,-3,-3,-5,-5,0

## Percentage wins from the H2H matchups

In [7]:
espn_api.win_ratio_in_round()

18 teams participating
Processing matchup period: [14]

                                Wins     Wins%  Avg Score
London Stoners                    16  0.941176   3.705882
Pistol Pete's Pizza Boys          15  0.882353   3.058824
Bakaloreal Bakalis                14  0.823529   3.411765
I'm trying Jennifer               13  0.764706   2.235294
Poutsoklotsi Hustlers             13  0.764706   2.352941
Volos Anteto34                    12  0.705882   2.352941
Inglourious Basterds              11  0.647059   1.470588
Ilion Nephews                     11  0.647059   1.588235
Team Kηδειουλες B.C.              10  0.588235   1.000000
projectTanking tlk                 8  0.470588  -0.176471
Round mound of Makrino Rebound     8  0.470588  -0.058824
BB Sharks                          6  0.352941  -0.941176
Kansas Winchesters                 4  0.235294  -2.000000
Team SuperCoolBeas                 4  0.235294  -1.764706
volos brigada                      3  0.176471  -2.411765
Mean Team                          1  0.058824  -4.705882
Nea Smirni Petrogkaz               1  0.058824  -4.823529
Long-distance  Rebounders          1  0.058824  -4.294118